.AppWrap {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  z-index: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #7e5a9b;
  justify-content: center;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  z-index: 2;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.Section2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #7e5a9b;
  justify-content: center;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  z-index: 2;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.BuildText {
  font-family: monospace;
  position: absolute;
  font-size: 30px;
  text-decoration: none;
  transition: all .7s ease-in-out;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  color: #FAFFC7;
  z-index: 10;
  text-shadow: black 1px 0 10px;
}

.PhoneTextWrapper {
  height: 50%;
  width: 90%;
  display: block;
  text-align: left;
  position: absolute;
  display: none;
  top: 0;
}

.PhoneText {
  font-family: monospace;
  font-size: 24px;
  transition: all .7s ease-in-out;
  color: #FAFFC7;
  text-align: justify;
  text-shadow: black 1px 0 10px;
  display: none
}

.MobileSocials{
  height: 50%;
  width: 100%;
  display: none
}

.Text {
  font-family: monospace;
  font-size: 25px;
  text-decoration: none;
  color: #87A878;
  text-shadow: black 1px 0 10px;
}

.ProjectsWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.TopContainer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.BottomContainer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.SocialWrap {
  height: 50vh;
  display: flex;
  flex-direction: column;
  width: 15%
}

.SocialIcon {
  width: 40px;
  height: 40px;
  color: #FFCCE1;
  margin: auto;
  transition: all .5s ease-in-out;
}

.SectionWrap {
  width: 40%;
  min-width: fit-content;
  display: flex;
  height: 50vh;
}

.SmallUp {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  width: 100px;
  display: flex;
  background-color: darkgrey;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  margin: auto;
  transition: all .9s ease-in-out;
  height: 100px;
  border-radius: 5px;
}

.SmallDown {
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100px;
  background-color: #fff;
  transition: all .7s ease-in-out;
  margin: auto;
  height: 100px;
}

.MediumUp{
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  border-radius: 5px;
  transition: all .9s ease-in-out;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  margin: auto;
  width: 250px;
  height: 250px;
}

.MediumDown {
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  margin: auto;
  transition: all .7s ease-in-out;
  width: 250px;
  height: 250px;
}

.LargeUp {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  margin: auto;
  background-color: #FFCCE1;
  height: 400px;
  transition: all .9s ease-in-out;
  width: 400px;
  border-radius: 5px;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
}

.LargeDown {
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  transition: all .7s ease-in-out;
  background-color: #FFCCE1;
  margin: auto;
  height: 400px;
  width: 400px;
}

.Inset {
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  height: 100vh;
  background-color: black;
  width: 100vw;
}

.SocialIcon:hover {
  color:#FAFFC7;
  cursor: pointer;
  filter: brightness(103%);
  animation: tilt-shaking .25s infinite;
}

.SmallUp:hover, .MediumUp:hover, .LargeUp:hover {
  transform: scale(1.05);
  text-decoration: none;
  filter: brightness(103%)
}

.BuildText:hover {
  transform: scale(1.05);
  color: #FAFFC7;
  cursor: pointer;
  filter: brightness(103%)
}

.SmallDown:hover, .MediumDown:hover, .LargeDown:hover {
  filter: brightness(90%);

}

@media (max-width: 768px) {
  .Section2 {
    Display: none;
  }
  .TopContainer {
    display: none;
  }
  .BottomContainer {
    display: none;
  }
  .BuildText {
    display: none;
  }
  .PhoneText {
    display: flex;
    flex-direction: column;
  }
  .PhoneTextWrapper {
    display: flex;
  }  
  .MobileSocials {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
  }
  .SocialIcon {
    height: 50%;
    width: 50%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SocialIcon:hover {
    animation: none;
    color:#FFCCE1;
    cursor: pointer;
    filter: none;
    animation: none; 
  }
}


@keyframes tilt-shaking {
  0% { transform: scale(1.2) translate(0, 0) rotate(0deg); }
  25% { transform: scale(1.2) translate(5px, 5px) rotate(5deg); }
  50% { transform: scale(1.2) translate(0, 0) rotate(0eg); }
  75% { transform: scale(1.2) translate(-5px, 5px) rotate(-5deg); }
  100% { transform: scale(1.2) translate(0, 0) rotate(0deg); }
}

a {
  text-decoration: none;
  color: #FFCCE1;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none
}
iframe {
  height: 100vh;
}